### ABS Function
The `ABS` function returns the absolute value of a number, removing any negative sign.

In [ ]:
SELECT ABS(-50) FROM DUAL;

### MOD Function
The `MOD` function returns the remainder of a division.

In [ ]:
SELECT MOD(27, 4) AS REMAINDER FROM DUAL;

### ROUND Function
The `ROUND` function rounds a number to the nearest integer or to a specified number of decimal places.

In [ ]:
SELECT ROUND(1.8) FROM DUAL;

### ROUND Function with More Decimals
You can specify the number of decimal places.

In [ ]:
SELECT ROUND(1.23456) FROM DUAL;

### ROUND Function with 3 Decimal Places
Here, the number is rounded to 3 decimal places.

In [ ]:
SELECT ROUND(1.23456, 3) FROM DUAL;

### TRUNC Function
The `TRUNC` function truncates (removes) the decimal part of a number without rounding.

In [ ]:
SELECT TRUNC(1.8) FROM DUAL;

### TRUNC Function with Decimal Places
Truncate a number up to a specific number of decimal places.

In [ ]:
SELECT TRUNC(1.23456, 3) FROM DUAL;

### GREATEST Function
The `GREATEST` function returns the largest value from a list of numbers.

In [ ]:
SELECT GREATEST(3, 5, 8, 9) FROM DUAL;

### CEIL Function
The `CEIL` function returns the smallest integer greater than or equal to a number.

In [ ]:
SELECT CEIL(10.5) FROM DUAL;

### FLOOR Function
The `FLOOR` function returns the largest integer less than or equal to a number.

In [ ]:
SELECT FLOOR(10.5) FROM DUAL;

### POWER Function
The `POWER` function raises a number to the power of another number.

In [ ]:
SELECT POWER(2, 3) FROM DUAL;

### POWER Function Example 2
Another example with different values.

In [ ]:
SELECT POWER(4, 3) FROM DUAL;

### SQRT Function
The `SQRT` function returns the square root of a number.

In [ ]:
SELECT SQRT(16) FROM DUAL;

### EXP Function
The `EXP` function returns Eulerâ€™s number `e` raised to the power of a given number.

In [ ]:
SELECT EXP(1) FROM DUAL;

### EXP Function Example 2
Another example with a higher power.

In [ ]:
SELECT EXP(2) FROM DUAL;